

<div class="container">
  <div class="mx-auto text-center mt-5">
    <h3>Create an account</h3>
    <hr  style="background-color: #4DD0E1; height: 2px; width: 5%">
  </div>
  <div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4 p-5" style="background-color: #FAFAFA; border: solid 1px #eee">
      <small>
        <form action="">
          <div class="form-group">
            <label class="float-left" for="">Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label class="float-left" for="">ng serveEmail</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label class="float-left" for="">Password</label>
            <input type="password" class="form-control">
          </div>
          <button class="btn btn-primary btn-block">Register</button>
        </form>
      </small>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

