
<!--<nav class="navbar navbar-expand-lg navbar-light bg-white">-->
<!--  <div class="container-fluid">-->

<!--        <span  id="sidebarCollapse" >-->
<!--            <i style="color: #43cea2" class="fas fa-paperclip mr-2"></i> <span routerLink="/site" style="cursor: pointer"> dataclip&trade;</span>-->
<!--        </span>-->
<!--    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <i class="fa fa-bars"></i>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="nav navbar-nav ml-auto">-->
<!--        &lt;!&ndash;            <li class="nav-item active">&ndash;&gt;-->
<!--        &lt;!&ndash;              <a class="nav-link" href="#">Home</a>&ndash;&gt;-->
<!--        &lt;!&ndash;            </li>&ndash;&gt;-->

<!--        <li *ngIf="isLogin" class="nav-item">-->
<!--          <a routerLink="/profile/payment" class="nav-link" href="#">Payments and plans</a>-->
<!--        </li>-->
<!--        <li *ngIf="isLogin" class="nav-item">-->
<!--          <a routerLink="/profile/settings" class="nav-link" href="#">Profile Setting</a>-->
<!--        </li>-->
<!--        <li *ngIf="isLogin" class="nav-item">-->
<!--          <img src="https://www.gravatar.com/avatar/{{user.avatar}}?d=https%3A%2F%2Fi.ya-webdesign.com%2Fimages%2Fdefault-avatar-png-9.png" alt="Avatar" class="avatar">-->
<!--        </li>-->
<!--&lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-link" href="#">Logout</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->

<div class="dropdown">
  <a href=""# class="account" >
    <img src="https://www.gravatar.com/avatar/{{user.avatar}}?d=https%3A%2F%2Fi.ya-webdesign.com%2Fimages%2Fdefault-avatar-png-9.png" alt="Avatar" class="avatar">
  </a>
  <div class="submenu" style="display: none; ">
    <ul class="root">
      <li >
        <a href="#" >Dashboard</a>
      </li>
      <li >
        <a href="#" >Profile</a>
      </li>
      <li >
        <a href="#">Settings</a>
      </li>
      <li>
        <a href="#">Sign Out</a>
      </li>
    </ul>
  </div>
</div>
