
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">

        <span  id="sidebarCollapse" >
            <i style="color: #43cea2" class="fas fa-paperclip mr-2"></i> <span routerLink="/site" style="cursor: pointer"> dataclip&trade;</span>
        </span>
    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <!--            <li class="nav-item active">-->
        <!--              <a class="nav-link" href="#">Home</a>-->
        <!--            </li>-->

<!--        <li *ngIf="isLogin" class="nav-item i">-->
<!--          <a routerLink="/profile/payment" class="nav-link" href="#">Payments and plans</a>-->
<!--        </li>-->
<!--        <li *ngIf="isLogin" class="nav-item item2">-->
<!--          <a routerLink="/profile/settings" class="nav-link" href="#">Profile Setting</a>-->
<!--        </li>-->
        <li *ngIf="isLogin" class="nav-item ">
          <img style="cursor: pointer" src="https://www.gravatar.com/avatar/{{user?.avatar}}?d=https%3A%2F%2Fi.ya-webdesign.com%2Fimages%2Fdefault-avatar-png-9.png" alt="Avatar" class="avatar"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="dropdown-menu dropdown-menu-sm-right">
            <button routerLink="/profile/payment" class="dropdown-item" type="button">Payment and Plans</button>
            <button routerLink="/profile/settings" class="dropdown-item" type="button">Profile</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" type="button">Logout</button>
          </div>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Logout</a>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</nav>
