
<div class="overlay"  *ngIf="loadingIndicator">
  <div class="sk-chase" >
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
  </div>
</div>


<div class=" d-flex align-items-stretch">
  <nav id="sidebar">
<!--  <span style="color: #43cea2; font-size: large">   <i class="fas fa-paperclip mb-5"></i> dataclip</span>-->
    <h4 class="mb-3 mt-5">Log in to your account</h4>
            <form (submit)="onSubmit()" [formGroup]="loginForm">
              <div class="form-group">
                <label class="float-left" for="">Email</label>
                <input [class.is-invalid]="formcontrols.email.invalid && formcontrols.email.touched" formControlName="email" type="text" class="form-control">
                <span *ngIf="formcontrols.email.invalid && formcontrols.email.touched" class="float-right">
                  <small *ngIf="formcontrols.email.errors.required" class="text-danger">Email required</small>
                </span>
              </div>
              <div class="form-group">
                <label class="float-left" for="">Password</label>
                <input [class.is-invalid]="formcontrols.password.invalid && formcontrols.password.touched" formControlName="password" type="password" class="form-control">
                <span *ngIf="formcontrols.password.invalid && formcontrols.password.touched" class="float-right">
                  <small *ngIf="formcontrols.password.errors.required" class="text-danger">Password required</small>
                </span>
              </div>
              <button [disabled]="loginForm.invalid" class="btn btn-primary pr-4 pl-4">Login</button>
               <span class="text-muted ml-3"> <span class="text-primary">Don't you have account? </span><a routerLink="/signup">Signup instead</a></span>
            </form>

  </nav>

  <!-- Page Content  -->
  <div id="content" class="content d-none d-lg-block" >

    <div>
      <img class="rounded float-right" src="assets/images/login-top.svg" alt="" style="width: 20%; position: fixed;top: 0">
    </div>

    <div class="clearfix col-md-2 d-none d-lg-block" style="position: fixed; bottom: 10%; right: 0 ">
     <span style="font-size: 100px" class="text-white">data<span style="color: #43cea2">clip</span></span> <br>
      <small class="text-muted">Collect info from users without a server—Dataclip™ is your server.</small>
    </div>

  </div>
</div>

