<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-9">
      <h3 class="text-success"><i>Privacy Policy</i></h3>
      <p class="mt-4">
        This privacy policy has been compiled to better serve those who are concerned with how their "Personally
        Identifiable Information" (PII) is being used online. PII, as described in US privacy law and information
        security, is information that can be used on its own or with other information to identify, contact, or locate a
        single person, or to identify an individual in context. Please read this privacy policy carefully to get a clear
        understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in
        accordance with our website.
      </p>
      <br>


      <h4>When do we collect information?</h4>
      <br>
      <p>Dataclip provides a data collection service for websites. As such we may collect information from two groups of
        people:</p>
      <ol>
        <li>People who register for a Dataclip account.</li>
        <li>People who interact with the websites that use the Dataclip service.</li>
      </ol>
      <p>
        Information you provide to us (name, email, other contact information) is collected at the time you provide said
        information. e.g. when you sign up for an account, or submit a Dataclip form on a another website. Other
        information such as website usage may be collected when you interact with the Dataclip website.
      </p>
      <br>


      <h4>What information does Dataclip collect?</h4>
      <br>
      <p>The data we collect depends on your interactions with Dataclip.</p>
      <ul>
        <li>When registering for a Dataclip account, you will be asked to enter your name, email address and other
          details to help you with your experience.
        </li>
        <li>Websites using Dataclip may ask for personal information within a Dataclip form.</li>
      </ul>
      <p>In addition to the data you provide, we may collect data from your interactions with the Dataclip service:</p>
      <ul>
        <li>Usage data. This includes the features you use, and the web pages you visit within Dataclip.tech. This
          includes your interactions on our website, and with us via email.
        </li>
        <li>Device and connectivity data. We may collect data about your device and the network you use to connect to
          Dataclip (e.g. when submitting a Dataclip form). This may include data about the operating system, IP address,
          browser type, and referring URLs.
        </li>
      </ul>
      <p>
        Note that credit card information collected when signing up for a paid account is stored by Payhere or GitHub
        depending on how you signup. Credit card and related information is <b>not</b> stored by Dataclip.
      </p>
      <br>

      <h4>How do we use your information?</h4>
      <br>
      <p>We may use the information we collect from you when you register, purchase an account, sign up for our
        newsletter, respond to a survey or marketing communication, browse the website, or use certain other site
        features in the following ways:</p>
      <ul>
        <li>To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
        <li>To send periodic emails regarding your account or other products and services.</li>
        <li>To improve the web service.</li>
      </ul>
      <br>

      <h4>Where is your information stored?</h4>
      <br>
      <p>Data is stored is secure servers managed by AWS in the United States.</p>
      <br>

      <h4>How do we protect your information?</h4>
      <br>
      <ul>
        <li>Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.</li>
      </ul>

    </div>
  </div>


</div>
