<div class="row justify-content-center">
  <div class="col-7">
    <h5>{{siteName}} placement code</h5>
    <form action="" class="mt-4">
      <div class="form-group">
        <label for="">Code for form</label>
        <select name="" id="" class="form-control" [(ngModel)]="bucketId" [ngModelOptions]="{standalone: true}">
          <option  *ngFor="let form of forms" value="{{form.bucketId}}" >{{form.bucketName}}</option>

        </select>
      </div>
    </form>
  </div>

</div>

<div class="row justify-content-center" >
  <h6 class="mt-5">Use this  <span class="tag">&lt;form&gt;</span> tag to make your form. Any  <span class="tag">&lt;input&gt;</span>,  <span class="tag">&lt;textarea&gt;</span>,  <span class="tag">&lt;select&gt;</span> elements with names will be saved to Pageclip when the form is submitted.</h6>

  <div class="col-md-7 mt-3  p-4" style="background-color: #263238">
      <span>
        <pre style="color: white;letter-spacing: 0px">
            &lt;<span class="tag">form</span> <span class="att">action</span>=<span class="val">"https://dataclip.tech/api/5sda45sd4asd5sadasd/{{bucketId}}"</span> <span class="att">method</span>=<span class="val">&quot;POST&quot;</span>&gt;
               <i class="text-muted">&lt;!--Replace these inputs with your own. Make sure they have a "name" attribute!--&gt;</i>
              &nbsp;&lt;<span class="tag">input</span> <span class="att">type</span>=<span class="val">&quot;text&quot;</span><span class="att">name</span>=<span class="val">&quot;name&quot;</span>&gt;
              &nbsp;&lt;<span class="tag">input</span> <span class="att">type</span>=<span class="val">&quot;text&quot;</span> <span class="att">name</span>=<span class="val">&quot;name&quot;</span>&gt;
              &nbsp;&lt;<span class="tag">button</span> <span class="att">type</span>=<span class="val">&quot;submit&quot;</span> <span class="att">type</span>=<span class="val">&quot;submit&quot;</span>&gt;submit&lt;/<span class="tag">button</span>&gt;
            &lt;/<span class="tag">form</span>&gt;
        </pre>
      </span>
  </div>

</div>

