*{
  font-family: 'Baloo Thambi 2', cursive;
}

.section{
  margin-top: 150px;
}

.tag{
  color: #f50057;


}

.att{
  color: #1de9b6;
}

.val{
  color: #ffc107

;
}


.first-card{
  /*background: #11998e;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #38ef7d, #11998e); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

  border: #FAFAFA 1px solid;
  padding-top: 20px;
  text-align: left;

}

.main-card{

  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.price-details{
  font-size: x-large;
  margin-top: 1px;
}
