<!--{{siteName}} - {{siteId}}-->
<!--{{data | json}}-->
<!--<hr>-->
<!--{{bucketData | json}}-->
<i><h1>{{siteName}}</h1></i>
<hr>
<h4>Your Buckets</h4>
<hr>
<!--<span *ngFor="let d of data" class="test">-->
<!--  <a (click)="loadData(d.bucketId)" class="text-decoration-none" style="cursor: pointer">{{d.bucketName}} </a>-->
<!--</span>-->

<div class="row mt-3 test " *ngFor="let d of data" >
  <div class="col">
    <a (click)="loadData(d.bucketId)" class="text-decoration-none" style="cursor: pointer">{{d.bucketName}} </a>
  </div>
</div>

<div *ngIf="isLoadingStart && isBucketDataHave" class="row justify-content-center mt-5 p-5">
  <div class="col-2">
    <div style="color: #43cea2; width: 5rem; height: 5rem" class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-5 p-5" *ngIf="!isBucketDataHave && isLoadingStart">
  <div class="col-4 text-center">
      <h3 style="color: #43cea2">No Form Data</h3>
  </div>
</div>

<!--{{isBucketDataHave}}-->

<span *ngIf="isLoaded && isBucketDataHave">
  <div class="clearfix mt-4">
    <div class="float-right">
      <button (click)="downloadJson(bucketData)" mat-raised-button color="accent">download Json</button>
      <csv-downloader class="ml-3" [fileName]="siteName" [data]="bucketData" [headers]="keys"></csv-downloader>
    </div>

  </div>
  <div class="row justify-content-center">
    <div class="col-2 text-center">
      Total entries <h1 style="color: #43cea2">{{bucketDataCount}}</h1>
    </div>
    <div class="col-2 text-center">
       Last entry <h1 style="color: #43cea2">{{lastEntryDate | dateAgo}}</h1>
    </div>
  </div>
  <table class="table table-striped mt-5 table-ho">
    <thead>
    <tr>
      <th scope="col" *ngFor="let key of keys">{{key}}</th>
      <th scope="col" >when</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bucket of bucketData">
<!--     <td *ngFor="let kf of bucket | keyvalue">{{kf.value}}</td>-->
     <td *ngFor="let kf of keys">{{bucket[kf]}}</td>
     <td >{{bucket['date'] | date:'short':'+0530'}}</td>
    </tr>
    </tbody>
  </table>
<mat-progress-bar mode="determinate" value="{{bucketDataCount}}" color="accent"></mat-progress-bar>
  {{bucketDataCount}}% <small class="text-muted">capacity</small>
</span>

<!--{{bucketDataCount}}-->

<!--{{keys | json}}-->
