table {
  width: 100%;
}
.test{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.test1 :hover{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}


.button {
  background-color: #43cea2; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #43cea2;
}

.button1:hover {
  background-color: #43cea2;
  color: white;
}

.button1:active{
  background-color: #00B7FF;
}
a{
  cursor: pointer;
  color: #43cea3;
}

/*.test :hover{*/
/*  !*padding: 10px;*!*/
/*  border-left: solid 10px black;*/

/*}*/
