<!--{{siteName}} - {{siteId}}-->
{{data | json}}
<hr>
{{bucketData | json}}
<h1>{{siteName}}</h1>
<hr>
<h4>Your Buckets</h4>
<hr>
<span *ngFor="let d of data">
  <a (click)="loadData(d.bucketId)" class="text-decoration-none" style="cursor: pointer">{{d.bucketName}} </a>
  <hr>
</span>
<hr>



<!--<table border="1">-->
<!--&lt;!&ndash;  <span >&ndash;&gt;-->
<!--&lt;!&ndash;  {{bucket.key}} - {{bucket.value | json}}&ndash;&gt;-->
<!--   <tr *ngFor="let bucket of bucketData ">-->
<!--      <span *ngFor="let b of bucket | keyvalue">-->
<!--        <td>     {{b.key}} </td>-->
<!--        <td>   {{b.value}} </td>-->
<!--    </span>-->
<!--   </tr>-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--</table>-->


  <table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">First</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bucket of bucketData ">
      <div *ngFor="let b of bucket | keyvalue">
  <!--        <td scope="row">1</td>-->
          <td>     {{b.key}} </td>
          <td>   {{b.value}} </td>
      </div>
    </tr>
    </tbody>
  </table>
