<!--{{siteName}} - {{siteId}}-->
<!--{{data | json}}-->
<!--<hr>-->
<!--{{bucketData | json}}-->
<i><h1>{{siteName}}</h1></i>
<!--<h4>Your Forms  <small class="text-muted">({{data.length}})</small></h4>-->

<!--<div class="step-four">-->
<!--  <button routerLinkActive="active" (click)="loadData(d.bucketId)" *ngFor="let d of data" class="button button1">{{d.bucketName}}</button>-->
<!--</div>-->
<hr>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Select Form ({{data.length}})</label>
  </div>
  <select [(ngModel)]="selectedBucketId" class="custom-select" id="inputGroupSelect01">
    <option *ngFor="let d of data" value="{{d.bucketId}}">{{d.bucketName}}</option>
  </select>
  <div class="input-group-prepend">
    <button (click)="loadData(selectedBucketId)" class="btn btn-primary pl-5 pr-5">Load Data</button>
  </div>
</div>
<hr>

<div *ngIf="isLoadingStart" class="row justify-content-center mt-5 p-5">
  <div class="col-2">
    <div style="color: #43cea2; width: 5rem; height: 5rem" class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-5 p-5" *ngIf="!isBucketDataHave && !isLoadingStart && isClickOnBucket">
  <div class="col-4 text-center">
      <h3 style="color: #43cea2">No Form Data</h3>
      <h3 style="color: #43cea2"><a routerLink="code">Add code to your form</a></h3>
  </div>
</div>

<div class="row justify-content-center mt-5 p-5" *ngIf="!isBucketDataHave && !isLoadingStart && !isClickOnBucket">
  <div class="col-4 text-center">
    <h3 style="color: #43cea2">select the form</h3>
  </div>
</div>

<!--{{isBucketDataHave}}-->

<span *ngIf="isBucketDataHave">
  <div class="clearfix mt-4">
    <div class="float-right">
      <button (click)="downloadJson(bucketData)" class="btn btn-success">DOWNLOAD JSON</button>
      <csv-downloader class="ml-3" [fileName]="siteName" [data]="bucketData" [headers]="keys"></csv-downloader>
    </div>

  </div>
  <div class="row justify-content-center">
    <div class="col-2 text-center">
      Total entries <h3 style="color: #43cea2">{{bucketDataCount}}</h3>
    </div>
    <div class="col-3 text-center">
       Last entry <h3 style="color: #43cea2">{{lastEntryDate | dateAgo}}</h3>
    </div>
  </div>
  <table class="table table-striped mt-5 table-ho">
    <thead>
    <tr>
      <th scope="col" *ngFor="let key of keys">{{key}}</th>
      <th scope="col" >when</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bucket of bucketData">
     <td *ngFor="let key of keys">{{bucket[key]}}</td>
     <td >{{bucket['date'] | date:'short':'+0530'}}</td>
    </tr>
    </tbody>
  </table>
  <hr>
<mat-progress-bar mode="determinate" value="{{(bucketDataCount/500)*100}}" color="accent"></mat-progress-bar>
  {{((bucketDataCount/500)*100)}}% <small class="text-muted">capacity</small>
</span>

<div class="mb-5 pb-5"></div>

<!--{{bucketDataCount}}-->

<!--{{keys | json}}-->

