<app-second-nav-bar></app-second-nav-bar>

<div class="container">
  <div class="row justify-content-center mt-5 mb-3">
    <div class="col-md-9">
      <h3 class="text-success"><i>Security</i></h3>
      <p class="mt-4">
        We take security and privacy seriously.
      </p>
      <ul>
        <li>Dataclip and its dependencies are scanned on a regular basis for security holes and known vulnerabilities in
          order to make your visit to our site as safe as possible.
        </li>
        <li>All requests including submissions from your websites to Dataclip and API requests are encrypted via Secure
          Socket Layer (SSL) technology.
        </li>
        <li>All transactions are processed through a gateway provider. Credit card and transaction information are not
          stored or processed on our servers. 2checkout is the provider for purchases through the Dataclip website.
        </li>
        <li>Your personal information is contained behind secured networks and is only accessible by a limited number of
          persons who have special access rights to such systems.
        </li>
      </ul>
      <p>Additionally we use providers with a focus on security including:</p>
      <ul>
        <li><a target="_blank" href="https://aws.amazon.com/">AWS</a></li>
        <li><a target="_blank" href="https://github.com">GitHub</a></li>
        <li><a target="_blank" href="https://secure.2checkout.com/">2checkout</a></li>
      </ul>
      <P>See our <a routerLink="/privacy">privacy policy</a> for more information. If you have questions about your data please reach out at
        <a href="mailto:info@dataclip.tech">info@dataclip.tech</a>.</P>
    </div>
  </div>
</div>
<div class="footer text-muted mt-5" style="bottom: 0; left: 0; width: 100%;height: 5%; background-color: #0F2027;  text-align: center;padding: 7px" >
  &copy; 2020 extro-lab
</div>
