

<div class="row justify-content-center mb-5 ">
  <div class="col-md-3">
    <i><h3 class="mt-4">profile settings</h3></i>
    <hr>
    <img src="https://www.gravatar.com/avatar/{{user.avatar}}?d=https%3A%2F%2Fi.ya-webdesign.com%2Fimages%2Fdefault-avatar-png-9.png" alt="Avatar" class="avatar">
    <span class="text-muted ">You can change avatar on <a href="https://en.gravatar.com/" target="_blank">Gravatar</a></span>
    <form (submit)="onProfileNameUpdate()" >
      <div class="form-group">
        <label for="">Name</label>
        <input [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}"  type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input disabled type="text"  class="form-control" placeholder="{{user.email}}">
      </div>
      <button  class="btn btn-primary btn-block">save</button>
    </form>
  </div>

</div>


<div class="row justify-content-center mb-5 ">
  <div class="col-md-3">

    <i><h3 class="mt-5">Password update</h3></i>
    <hr>
    <form (submit)="onPasswordChange()" [formGroup]="passwordUpdateForm" >
      <div class="form-group">
        <label for="">Old Password</label>
        <input [class.is-invalid]="formcontrols.oldPassword.invalid && formcontrols.oldPassword.touched" formControlName="oldPassword" type="text" class="form-control">
        <span *ngIf="formcontrols.oldPassword.invalid && formcontrols.oldPassword.touched">
          <small *ngIf="formcontrols.oldPassword.errors.required" class="text-danger">old password required</small>
        </span>
      </div>
      <div class="form-group">
        <label for="">New Password</label>
        <input [class.is-invalid]="formcontrols.newPassword.invalid && formcontrols.newPassword.touched"  formControlName="newPassword"  type="text"  class="form-control" >
        <span *ngIf="formcontrols.newPassword.invalid && formcontrols.newPassword.touched">
          <small *ngIf="formcontrols.newPassword.errors.required" class="text-danger">new password required</small>
          <small *ngIf="formcontrols.newPassword.errors.minlength" class="text-danger">password must be 8 characters</small>
        </span>
      </div>
      <button [disabled]="passwordUpdateForm.invalid"  class="btn btn-primary btn-block">update password</button>
    </form>
  </div>

</div>

