<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="w-100 bg-dark mx-auto text-center pt-2 text-white" style="height: 60px">
          <h6 class="text-white">Janaka Edirisinghe</h6>
      {{loadSite}}
    </div>

    <div class="p-4 pt-5">
<!--      <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(assets/images/logo.jpg);"></a>-->
      <ul class="list-unstyled components mb-5">
        <li routerLinkActive="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-layer-group"></i>Sites</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li routerLinkActive="active" *ngFor="let site of sites">
              <a style="cursor: pointer" (click)="onSiteClick(site.siteName, site._id)">{{site.siteName}}</a>
            </li>
          </ul>
        </li>
        <li routerLinkActive="active">
          <a data-toggle="modal" data-target="#createFormModal"><i class="far fa-plus-square"></i>Create Form</a>
        </li>
        <li routerLinkActive="active">
          <a data-toggle="modal" data-target="#exampleModalCenter"><i class="far fa-plus-square"></i>Create Site</a>
        </li>

        <li routerLinkActive="active">
          <a routerLink="code"><i class="fas fa-code"></i>Placement Code</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="settings"><i class="fas fa-cog"></i>Site Settings</a>
        </li>
        <li routerLinkActive="active">
          <a href="#"><i class="fas fa-key"></i>Api Key</a>
        </li>
        <li routerLinkActive="active">
          <a  (click)="logOut()"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
      </ul>

      <div class="footer">
<!--        <p>&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>-->
<!--          &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;</p>-->
        <p>Want your code to be notified of new submissions? <a href="">setup a webhook</a></p>
      </div>

    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 content" >

<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--      <div class="container-fluid">-->

<!--        <button type="button" id="sidebarCollapse" class="btn btn-primary">-->
<!--          <i class="fa fa-bars"></i>-->
<!--          <span class="sr-only">Toggle Menu</span>-->
<!--        </button>-->
<!--        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--          <i class="fa fa-bars"></i>-->
<!--        </button>-->

<!--&lt;!&ndash;        <div class="collapse navbar-collapse" id="navbarSupportedContent">&ndash;&gt;-->
<!--&lt;!&ndash;          <ul class="nav navbar-nav ml-auto">&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item active">&ndash;&gt;-->
<!--&lt;!&ndash;              <a class="nav-link" href="#">Home</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;              <a class="nav-link" href="#">About</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;              <a class="nav-link" href="#">Portfolio</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;              <a class="nav-link" href="#">Contact</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;          </ul>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->
<!--    </nav>-->

<!--    <h2 class="mb-4">Sidebar #01</h2>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
    <flash-messages></flash-messages>
 <router-outlet></router-outlet>

  </div>
</div>



<!-- create site Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Site Create</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <form  [formGroup]="siteForm">
          <div class="form-group">
            <label for="">Site Name</label>
            <input formControlName="siteName" placeholder="Eg: my portfolio" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Host</label>
            <input formControlName="hostName" placeholder="http://myname.com" type="text" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" data-dismiss="modal">Create</button>
      </div>
    </div>
  </div>
</div>

<!-- create form Modal -->
<div class="modal fade" id="createFormModal" tabindex="-1" role="dialog" aria-labelledby="createFormModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createFormModalTitle">Form Create</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <form  [formGroup]="bucketForm">
          <div class="form-group">
            <label for="">Site Name</label>
            <input disabled  placeholder="{{loadSite}}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Form Name</label>
            <input formControlName="bucketName" placeholder="Ex: contact form" type="text" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="createBucketOnSubmit()" data-dismiss="modal">Create</button>
      </div>
    </div>
  </div>
</div>
