<i><h3>{{siteName}} settings</h3></i>
<hr>

<div class="row ">
  <div class="col-md-3">
    <form (submit)="onUpdate()" [formGroup]="siteUpdateForm">
      <div class="form-group">
        <label for="">site name</label>
        <input formControlName="siteName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="">domains</label>
        <input formControlName="host" type="text"  class="form-control">
      </div>
      <button [disabled]="!siteUpdateForm.valid" mat-raised-button color="accent" class="btn-block">update</button>
    </form>
  </div>
</div>


<i><h3 class="mt-5">Forms settings</h3></i>
<hr>

<div class="row form-edit" *ngFor="let form of forms">
  <div class="col-md-3 clearfix form-edit-column">
    <div class="float-left"><h5>{{form.bucketName}} </h5></div>
    <div class="float-right form-update-link">
      <a (click)="onFormDelete(form.bucketId)">delete</a>
      <a (click)="onFormEdit(form.bucketId)">edit</a>
    </div>
  </div>
</div>




<i><h3 class="mt-5">Delete site</h3></i>
<hr>
<a href="">Delete "boardima.com" and it's all data</a>
