.form-edit{
  margin-top: 5px;
  margin-left: 4px;

}
.form-edit-column{
  background-color: #F4F6F7;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  padding: 20px;
}

a{
  margin-right: 5px;
  text-decoration: none;
  color: #43cea2;
  cursor: pointer;
}


.form-update-link{
  color: #43cea2;
  font-weight: bold;
}
