<i><h3>{{siteName}} settings</h3></i>
<hr>

<div class="row ">
  <div class="col-md-3">
    <form action="">
      <div class="form-group">
        <label for="">site name</label>
        <input type="text" value="{{siteName}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="">domains</label>
        <input type="text"  class="form-control">
      </div>
      <button mat-raised-button color="accent" class="btn-block">update</button>
    </form>
  </div>
</div>
