

<div class="bg-img1 size1 overlay1 p-t-24" style="background-image: url('/assets/images/bg01.jpg');">

<!--  <div class="container-fluid">-->
<!--    <div class="row justify-content-center">-->
<!--      <div class="col-md-6 text-center text-white " style="margin-top: 150px">-->
<!--        <p class="">A server for your html forms</p>-->
<!--        <h1 style="font-size: 100px">Coming Soon</h1><br>-->
<!--        <h3>dataclip.tech</h3><br>-->
<!--        <a href="https://web.facebook.com/dataclip.tech" class="text-white" target="_blank"> <i class="fab fa-facebook-f fa-2x"></i></a>-->
<!--      </div>-->

<!--      <div class="col-md-6 animated  fadeInRight" style="margin-top: 150px">-->
<!--        <img  class="rounded-bottom rounded-top " src="assets/images/home_bg1.jpg" alt="" width="100%">-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class=" justify-content-center clearfix mt-5 pt-5">-->
<!--      <div class="col-md-12 text-center text-white h6"  style="bottom: 0; right: 0">-->
<!--            extro-lab&trade;  &nbsp; 2020-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
  <div class="container-fluid " >
    <div class="row justify-content-center" >
      <div class="col-md-4 text-white" style="margin-top: 250px">
                <p class="mt-5">A server for your html forms</p>
                <h1 style="font-size: 100px">Coming Soon</h1><br>
<!--                <h3>dataclip.tech</h3><br>-->
                <a href="https://web.facebook.com/dataclip.tech" class="text-white" target="_blank"> <i class="fab fa-facebook-f fa-2x"></i></a>

                <h5 class="mt-5">extro-lab&trade;  &nbsp; 2020</h5>
      </div>
      <div class="col-md-6 animated  fadeInRight" style="margin-top: 150px">
        <img  class="rounded-bottom rounded-top " src="assets/images/home_bg1.jpg" alt="" width="100%">
      </div>
    </div>
  </div>

</div>


