  *{
    font-family: 'Barlow Condensed', sans-serif;
    /*font-family: 'Inconsolata', monospace;*/

  }
.top-canvas{
  height: 500px;
  /*background: #B24592;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #F15F79, #B24592);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #F15F79, #B24592); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /*background: #FF0099;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #493240, #FF0099);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #493240, #FF0099); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

  /*background: #ff0084;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #33001b, #ff0084);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #33001b, #ff0084); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/





}

.nav-item{
  cursor: pointer;
}

.nav-item :hover {
  border-bottom: solid 1px white;

}
.top-button{
  background-color: white;
  color: black;
  border: none;
}

.first-card{
  /*background: #11998e;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #38ef7d, #11998e); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

  border: #FAFAFA 1px solid;
  padding-top: 20px;
  text-align: left;

}

.main-card{

  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.price-details{
  font-size: x-large;
  margin-top: 1px;
}



.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #43cea2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #43cea2;
}
.form-button {
  color: #fff;
  background-color: #43cea2 ;
  border-color: #43cea2;
}

.form-button:hover {
  color: #fff;
  background-color: #43cea2;
  border-color: #43cea2 ;
}

.form-button:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.form-button.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #43cea2 ;
  border-color: lightblue;
}

.form-button:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: white;
  border-color: #43cea2;
}

.form-button:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #43cea2;
}

