
<div class="row justify-content-center">
  <div class="col-md-3">
    <i><h3 class="mt-4">Integrations</h3></i>
    <hr>
    <div class="alert-success text-white p-3">Integrations allow another service to get an update when there is a form submission on this site*</div>
  </div>
</div>


<div class="row justify-content-center mb-5 mt-4">
  <div class="col-md-3">
    <h3>Webhook</h3>
    <form class="mt-3" *ngIf="isWebhookCreated">
      <div class="form-group">
        <label for="">Webhook URL</label>
        <input disabled value="{{webhookUrl}}" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Token</label>
        <div class="input-group">
          <input  value="{{webhookToken}}" type="text" class="form-control" aria-describedby="basic-addon1" #userinput>
          <div class="input-group-prepend">
            <button (click)="copyInputMessage(userinput)" class="btn btn-primary" id="basic-addon1">copy</button>
          </div>
        </div>
      </div>
    <div class="float-right">
      <a style="cursor: pointer" data-toggle="modal" data-target="#createWebhookModal" class="text-secondary mr-2">Edit</a>
      <a style="cursor: pointer" data-toggle="modal" data-target="#removeConfirmModal" class="text-danger">Remove</a>
    </div>
    </form>

    <button *ngIf="!isWebhookCreated" data-toggle="modal" data-target="#createWebhookModal" class="btn btn-primary btn-block mt-3">set webhook</button>
  </div>

</div>

<div class="row justify-content-center mb-5 mt-4">
  <div class="col-md-3">
    <h3>Other Integrations</h3>
    <p>Is there a service you wish DataClip integrated with? Let us know! Your feedback is super valuable in helping decide the next supported integrations.</p>

    <form class="mt-3">
      <div class="form-group">
        <label for="">Server Name</label>
        <input placeholder="Eg. slack" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="">A bit about your usecases</label>
        <input placeholder="Eg. I want to collect messages" type="text" class="form-control">
      </div>
      <button class="btn btn-primary btn-block">send</button>
    </form>
  </div>

</div>



<!-- create webhook Modal -->
<div class="modal fade" id="createWebhookModal" tabindex="-1" role="dialog" aria-labelledby="createFormModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createWebhookModalTitle">Set Webhook</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4"  >
        <form>
          <div class="form-group">
            <label for="">Webhook URL</label>
            <input  [ngModelOptions]="{standalone: true}" [(ngModel)]="webhookUrl" placeholder="Ex: https://yoursite.com/dataclip-webhook/" type="text" class="form-control">
          </div>
          <button (click)="onClickCreateWebHook()" type="button" class="btn btn-primary" data-dismiss="modal">SET WEBHOOK</button>
        </form>
      </div>
    </div>
</div>
</div>

<!-- delete confirm Modal -->
<div class="modal fade" id="removeConfirmModal" tabindex="-1" role="dialog" aria-labelledby="createFormModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeConfirmModalTitle">Really remove webhook?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4"  >
        <span>Are you sure you really want to delete the webhook for this site? Your webhook will stop receiving new submissions immediately.</span>
      </div>
      <div class="modal-footer">
        <button (click)="onClickRemoveWebhook()" type="button" class="btn btn-danger btn-block" data-dismiss="modal">YES, REALLY REMOVE WEBHOOK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>
